version: "3.8"

services:
  automation:
    build: .
    container_name: studio_automation_core
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./images:/app/images
      - ./logs:/app/logs
      - ./core:/app/core
      - ./modules:/app/modules
      - ./utils:/app/utils
      - ./config.py:/app/config.py
      - ./scheduler.py:/app/scheduler.py
    environment:
      - TZ=America/Sao_Paulo  