-- AUTO-GENERATED MIGRATION --

-- nexus_unidades (unidades)
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "avalizado" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "avalizado_data_limite" timestamp with time zone;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "avalizado_data_log" timestamp with time zone;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "avalizado_user_log" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "cidade" text;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "consultor" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "data" timestamp with time zone;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "email" text;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "envia_emails" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "id_bitrix" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "lista_garantia" text;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "nome" text;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "possui_garantia" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "profissao" bigint;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "uf" text;
ALTER TABLE nexus_unidades ADD COLUMN IF NOT EXISTS "user" bigint;

-- nexus_participantes (participantes)
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "agencia" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "ativo" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "bairro" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cep" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "certificado" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "chave_pix" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cnpj" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cobranca_compartilhada" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "codigo_banco" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "codigo_franqueado" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "complemento" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "conta" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "conta_tipo" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cpf" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cpf_cnpj_conta" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "cpf_ou_cnpj" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "ctb_conta" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "digito" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "email" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "email_contador" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "email_empresario" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "email_financeiro" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "empresa_gs" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "empresa_gs_modelo" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "endereco" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "epp" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "equipe_responsavel" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "faixa_faturamento" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "fin_operacao" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "fone_empresario" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "gestao_responsavel" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "grupo_empresas" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "inscricao_estadual" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "inscricao_municipal" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "log_data" timestamp with time zone;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "log_revisao_user" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "log_user" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "municipio" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "nome_contador" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "nome_contato" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "nome_empresario" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "nome_fantasia" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "nome_financeiro" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "numero" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "observacao" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "observacao_financeiro" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "quantidade_funcionarios" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "razao_social" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "revisado" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "rg" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "segunda_venda" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "simples_nacional" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "telefone_1" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "telefone_2" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "telefone_contador" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "telefone_financeiro" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "tipo" bigint;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "tipo_chave_pix" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "tipos_auxiliares" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "titular_conta" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "uf" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "ultimo_faturamento" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "url" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "valor_boleto" text;
ALTER TABLE nexus_participantes ADD COLUMN IF NOT EXISTS "whatsapp" text;

-- nexus_modelos (modelos)
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "anos" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ativo" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "cancelamento" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "consultor_venda" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "contrato" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "contrato_user" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "crm" numeric;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_assinatura" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_cancelamento" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_contrato" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_inativacao" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_operacao" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_treinamento" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "data_ultima_alteracao" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "dia_vencimento" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "emissao_nf" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "equipe_gp" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "gerente_venda" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "isento" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "libera_impostos" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "log_data" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "log_user" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "modelo" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "modelo_origem" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "motivo_cancelamento" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "observacao" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ok_expansao" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ok_expansao_data" timestamp with time zone;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ok_expansao_obs" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ok_expansao_user" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "percentual_retencao" numeric;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "produto" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "royalties" numeric;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "simples_nacional" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "tipo_contrato" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "tipo_franquia" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "tipo_inativacao" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "tipo_venda" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "ultima_alteracao_user" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "unidade" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "unidade_5g" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "user" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "user_consultor" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "user_equipe_gp" bigint;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "usuario_cancelamento" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "usuario_sdr" text;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "valor" numeric;
ALTER TABLE nexus_modelos ADD COLUMN IF NOT EXISTS "valor_retido" numeric;
